* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: chocolate;
}

.container {
    position: relative;
    background-color: #2f363e;
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
    10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clck {
    position: relative;
    width: 450px;
    height: 450px;
    background-color: #2f363e;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(215, 179, 179, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.clck::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #2f363e;
    border-radius: 50%;
    border:8px solid chocolate;
}

.clck span {
    position: absolute;
    inset: 20px;
    color: white;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.clck span b {
    font-size: 2em;
    opacity: 0.25;
    font-weight: 600;
    display: inline-block;
    
}

.circle1 {
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
    
}

.circle2 {
    width: 240px;
    height: 240px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 9;
}

.circle i {
    position: absolute;
    width: 6px;
    height: 50%;
    background-color: var(--col);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle:nth-child(1) i {
    width: 2px;
}

.circle:nth-child(2) i {
    width: 6px;
}

.circle::before {
    content: '';
    position: absolute;
    top: 8.5px;
    width: 15px;
    height: 15px;
    border-radius: 20%;
    background: var(--col);
    box-shadow: 0 0 20px var(--col),
    0 0 60px var(--col);

}

#time {
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.2),;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

#time div {
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--col);
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after{
    content: ' :';
    position: absolute;
    right: -4px;
}

#time div:last-child {
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#time div:nth-child(2)::after {
    animation: animate 2s steps(1) infinite;
}

@keyframes animate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.day {
    padding-top: 540px;
    position: absolute;
    font-size: 12px;
    color: white;
    opacity: 0.2;
}

h6 {
    color : pink;
    opacity : .5;
    margin-bottom: 50px;
}